{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<div class="p-2">
    <h1>Cписок сторінок</h1>
    <div class="alert alert-primary">
        <p>Шановний(а) відвідувач(ка) сайту, доброго Вам здоров'я!</p>
        <p>Вашій увазі представляеться Pet Progect, в якому зібрана різна інформація, котра може бути для Вас цікавою, а
            може й корисною.</p>
        <p>Прошу віднестись з розумінням - я тільки вчуся. </p>
    </div>

    <div class="card my-2">
        <div class="card-body">
            <h4 class="text-primary">Resume</h4>
            <a class="col-2 m-2 btn btn-primary" href="/summary">Summary</a>
            <a class="col-2 m-2 btn btn-primary" href="/skills">Skills</a>
            <a class="col-2 m-2 btn btn-primary" href="/education">Education</a>
            <a class="col-2 m-2 btn btn-primary" href="/work">Work</a>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-body">
            <h4 class="text-success">Shop</h4>
            <div class="row">
                <a class="col-2 m-2 btn btn-success" href="/shophome">Home</a>
                <a class="col-2 m-2 btn btn-success" href="/shopproduct">Product</a>
                <a class="col-2 m-2 btn btn-success" href="/shopnews">News</a>
                <a class="col-2 m-2 btn btn-success" href="/shoporder">Order</a>
                <a class="col-2 m-2 btn btn-success" href="/shopprofile">Profile</a>
                <a class="col-2 m-2 btn btn-success" href="/shopcart">Cart</a>
                <a class="col-2 m-2 btn btn-success" href="/shopcatalog">Catalog</a>
                <a class="col-2 m-2 btn btn-success" href="/shopreview">Rewiew</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="text-secondary">Other</h4>
            <div class="row">
                <a class="col-2 m-2 btn btn-secondary" href="/person">Person</a>
                <a class="col-2 m-2 btn btn-secondary" href="/bio">Bio</a>
                <a class="col-2 m-2 btn btn-secondary" href="/program">Program</a>
                <a class="col-2 m-2 btn btn-secondary" href="/web">Web</a>
                <a class="col-2 m-2 btn btn-secondary" href="/mac">Mac</a>
                <a class="col-2 m-2 btn btn-secondary" href="/js">js</a>
                <a class="col-2 m-2 btn btn-secondary" href="/facebook">Facebook</a>
                <a class="col-2 m-2 btn btn-secondary" href="/car">Car</a>
                <a class="col-2 m-2 btn btn-secondary" href="/task21">Task21</a>
                <a class="col-2 m-2 btn btn-secondary" href="/task22">Task22</a>
                <a class="col-2 m-2 btn btn-secondary" href="/task31">Task31</a>
            </div>
        </div>
    </div>

</div>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}