<hr class="my-5">
<dir>
    {{#with social}}
    {{>link href=email.href text=email.text blank=true }}
    {{>link href=phone.href text=phone.text blank=true }}
    {{>link href=linkedIn.href text=linkedIn.text blank=true noLine=true}}
    {{/with}}
</dir>

<dir class="my-3">
    <em>Copyright by {{firstname}} {{lastname}} </em>
</dir>

<div>
    <address>{{address}} </address>
</div>