<div class="col-12">
    <div class="row">
        {{#with newsBlock}}
        <h3 class="mt-4 text-center">{{title}} </h3>
        {{#each cards}}
        <div class="col-3">
            <div class="card text-bg-dark mx-0 my-3">
                <div class="card-header">
                    <h6>{{title}}
                        {{#if isTop}}
                        <span class="badge text-bg-danger rounded-pill">Top</span>
                        {{/if}}
                        {{#if isNew}}
                        <span class="badge text-bg-success rounded-pill">New</span>
                        {{/if}}
                    </h6>
                </div>
                <p> {{description}} </p>
            </div>
        </div>
        {{/each}}
        {{/with}}
    </div>
</div>
<hr>