<div class="col-12">
    <div class="nav nav-tabs">
        {{#each footer}}

        <ul class="nav flex-column m-4">
            {{#each this}}
            <li class="nav-item">
                <a class="nav-link {{#if @last}}disabled{{/if}}" href="{{link}}"> {{text}} </a>
            </li>
            {{/each}}
        </ul>

        {{/each}}
    </div>
</div>